* {
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
    margin: 0;
    padding: 0;
}

body {
 color: rgb(26, 31, 38);
}

header {
    background-color: rgb(248, 142, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;

}

header nav a {
    color: #ffffff;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;

}

#inicio {
    display: flex;
    align-items: center;
    
}